<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">FireBootCamp CRM</a>
    <ul class="navbar-nav ml-auto flex-row">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['company/list']">  Companies (<span id="company-count">{{ companyCount$ | async }}</span>) </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['admin']">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>