<form [formGroup]="companyForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" name="name">
      @let nameControl = companyForm.get('name');
      @if (nameControl?.hasError('required') && nameControl?.touched) {
        <div class="alert alert-danger">Name is required</div>
      }
      @if (nameControl?.hasError('minlength')) {
        @let error = nameControl!.getError('minlength');
        <div class="alert alert-danger">Name must be at least {{error.requiredLength}} characters</div>
      }
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" name="email">
      @let emailControl = companyForm.get('email');
      @if (emailControl?.hasError('required') && emailControl?.touched) {
        <div class="alert alert-danger">Email is required</div>
      }
      @if (emailControl?.hasError('email')) {
        <div class="alert alert-danger">Email should be an email</div>
      }
    </div>
  
    <div class="form-check mt-2">
      <input type="checkbox" class="form-check-input" id="checkPhone" formControlName="checkPhone" />
      <label for="checkPhone" class="form-check-label">Has phone number</label>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" name="phone" >
    </div>
  
    <div class="form-group">
      <button class="btn btn-primary" (click)="saveCompany()">
        {{isNewCompany ? 'Create' : 'Update'}}
      </button>
    </div>
  
  </form>